body {
    background-image:linear-gradient(#0e0d0d3d,#0707073f),url(img/industry.jpg) ;
    background-size: cover;
    background-position: center top ;
    background-repeat: no-repeat;
    padding-bottom:220px ;
    min-height: 20rem;
}
h2{
    margin-top:100px ;
    margin-bottom:50px ;
    font-family: 'Orbitron', sans-serif;
    color: rgba(255, 15, 7, 0.705);
}
.a{
    margin-top:100px ;
}
.c{
    font-family: 'Orbitron', sans-serif;
    color: rgba(199, 79, 58, 0.753);
}
.f:hover{
    transform:scale3d(1.05,1.05,1.05);
    transition: 0.35s;
    background-color: rgba(204, 236, 236, 0.473);
    box-shadow: 10px 10px 10px 10px rgba(25, 26, 26, 0.473);
}
